html, body {
  height: 100%;
  width: 100%;
  background-color: #588091;
  color: black;
  text-align: center;
  padding: 10px;
}

img {
  width: 50%;
}

h1,h2 {
  font-family: monospace;
  font-weight: bold;
  color: white;
}
h1 {
  margin-bottom: 0;
}

.about {
  font-size: 8px;
  font-style: italic;
  padding: 0;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}
